<head>
  <title>Team Main Page</title>
  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <h1>Welcome to the Main Page for Team <%=team%></h1>
  <a href="/">Back to Team Search</a>

  <h2>event codes</h2>

  <ul>
      <% eventData.forEach(event => { %>
        <li>
            <%=event.name%> (<%=event.event_code%>, <%=event.end_date%>)
            <ol>
                <% allMatchData.forEach(matchArray => { %>
                  <% matchArray.forEach(match => { %>
                      <% if (match.key.includes(event.event_code)) { %>
                        <li><a href='/match/<%=match.key%>/<%=team %>'><%=match.fancy_comp_level%>-<%=match.fancy_match_number%></a></li>
                      <% } %>
                <% }); %>
              <% }); %>
          </ol>
      </li>
      <% }); %>
    </ul>
</body>
  