<head>
  <title>Team Main Page</title>
  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <h1>Welcome to the Main Page for Team <%=team%></h1>
  <h2>event codes</h2>

  <ul>
      <% eventCodes.forEach(eventCode => { %>
        <li>
            <%=eventCode%>
            <ol>
                <% allMatchCodes.forEach(matchArray => { %>
                  <% matchArray.forEach(matchKey => { %>
                      <% if (matchKey.includes(eventCode)) { %>
                        <li><a href='/match/<%=matchKey%>/<%=team %>'><%=matchKey%></a></li>
                      <% } %>
                <% }); %>
              <% }); %>
          </ol>
      </li>
      <% }); %>
    </ul>
</body>
  