<!DOCTYPE html>
<html>
  <head>
    <title>Match Page</title>
    <link rel="stylesheet" href="/index.css" />
    <link rel="stylesheet" href="/loader.css" />
    <script src="/iframecheck.js"></script>
    <script src="/loader.js"></script>
    <style>
      .red {
        background-color: rgb(255, 177, 177);
      }

      .blue {
        background-color: rgb(177, 177, 255);
      }

      .team a {
        display: block;
        width: 100%;
        box-sizing: border-box;
        padding: 16px 12px;
        border-radius: 10px;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.1em;
        background: inherit;
      }

      .team.red {
        background-color: rgb(255, 177, 177);
        color: #181818;
      }
      .team.blue {
        background-color: rgb(177, 177, 255);
        color: #181818;
      }

      .dark-mode .team.red {
        background-color: #b71c1c;
        color: #fff;
      }
      .dark-mode .team.blue {
        background-color: #1c1cb7;
        color: #fff;
      }

      #teams-container table {
        margin: 0 auto;
      }

      #match-stats {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
      }

      .stat-container {
        display: flex;
        flex-direction: column;
        margin-right: 50px;
      }

      .stat-container h3 {
        text-align: center;
      }

      .yt-embed-video {
        width: 80%;
        height: auto;
        aspect-ratio: 16/9;
        margin-top: 20px;
        margin-bottom:100px;
      }

    </style>
  </head>

  <body>
    <%- include('header'); -%>

    <h3 style="margin-bottom: 0.5rem;">Match Page</h3>
    <button id="back-button" style="margin-bottom: 10px;">⬇ Back to <%=teamNumber%> Main Page</button>
    <script>
      document.getElementById('back-button').addEventListener('click', () => {
        window.parent.postMessage({ type: 'reverse-animation' }, '*');
      });
    </script>
    <h4 style="margin-bottom: 0.5rem;">Match Code: <%=matchKey%></h4>

    <h3 style="text-align: center; margin-bottom: 0.5rem;">Teams in This Match</h3>
    <div id="teams-container">
      <table>
        <tr>
          <% matchData.alliances.red.team_keys.forEach((key, i)=> { %>
          <td class="team red" style="vertical-align: top">
            <a
              href="https://www.thebluealliance.com/team/<%=matchData.alliances.red.team_keys[i].substring(3)%>"
              target="_blank"
            >
              Red <%=i + 1%>: <%=matchData.alliances.red.team_keys[i]%>
            </a>
          </td>
          <% }); %>
        </tr>
        <tr>
          <% matchData.alliances.blue.team_keys.forEach((key, i)=> { %>
          <td class="team blue" style="vertical-align: top">
            <a
              href="https://www.thebluealliance.com/team/<%=matchData.alliances.blue.team_keys[i].substring(3)%>"
              target="_blank"
            >
              Blue <%=i + 1%>: <%=matchData.alliances.blue.team_keys[i]%>
            </a>
          </td>
          <% }); %>
        </tr>
      </table>
    </div>

    <div id="match-stats">
      <div id="score-breakdown" class="stat-container">
        <h3 style="margin-bottom: 0.5rem;">Scores</h3>
        <table>
          <tr>
            <th></th>
            <th>Red</th>
            <th>Blue</th>
          </tr>
          <tr>
            <td>Autonomous</td>
            <td><%=matchData.score_breakdown.red.autoPoints%></td>
            <td><%=matchData.score_breakdown.blue.autoPoints%></td>
          </tr>
          <tr>
            <td>Teleop</td>
            <td>
              <%=matchData.score_breakdown.red.teleopPoints-matchData.score_breakdown.red.endGameBargePoints%>
            </td>
            <td>
              <%=matchData.score_breakdown.blue.teleopPoints-matchData.score_breakdown.blue.endGameBargePoints%>
            </td>
          </tr>

          <tr>
            <td>Endgame</td>
            <td><%=matchData.score_breakdown.red.endGameBargePoints%></td>
            <td><%=matchData.score_breakdown.blue.endGameBargePoints%></td>
          </tr>
          <tr>
            <td><b>Total</b></td>
            <td><%=matchData.score_breakdown.red.totalPoints%></td>
            <td><%=matchData.score_breakdown.blue.totalPoints%></td>
          </tr>
          <tr>
            <td><i>Penalty</i></td>
            <td>
              <i>
                <%=matchData.score_breakdown.red.totalPoints-(matchData.score_breakdown.red.autoPoints+matchData.score_breakdown.red.teleopPoints)%>
              </i>
            </td>
            <td>
              <i>
                <%=matchData.score_breakdown.blue.totalPoints-(matchData.score_breakdown.blue.autoPoints+matchData.score_breakdown.blue.teleopPoints)%>
              </i>
            </td>
          </tr>
        </table>
      </div>
      <div id="match-predictions" class="stat-container">
        <h3 style="margin-bottom: 0.5rem;">Match Predictions</h3>
        <table>
          <tr>
            <td>Statistic</td>
            <td>Prediction</td>
            <td><b>Actual</b></td>
          </tr>

          <tr>
            <td>Red Score</td>
            <td><%=statboticsData.pred.red_score%></td>
            <td><%=statboticsData.result.red_score%></td>
          </tr>
          <tr>
            <td>Blue Score</td>
            <td><%=statboticsData.pred.blue_score%></td>
            <td><%=statboticsData.result.blue_score%></td>
          </tr>
          <tr>
            <td><b>Win</b></td>
            <td>
              <%= statboticsData.pred.red_win_prob > 0.5 ? 'Red' : 'Blue' %> (<%=
              (statboticsData.pred.red_win_prob * 100).toFixed(2) %>%)
            </td>
            <td>
              <b><%=statboticsData.result.winner.charAt(0).toUpperCase()+statboticsData.result.winner.slice(1)%></b>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <button id="whiteboard-button" onclick="triggerPageTransition('/whiteboard/<%=matchKey%>/<%=teamNumber%>/autonomous')">Open Whiteboard</button>

    <iframe src="https://www.youtube.com/embed/<%=statboticsData.video%>" class="yt-embed-video" frameborder="2px" allowfullscreen></iframe>

    <div id="loading-box" style="display: none;"><span class="blinking">Loading...</span></div>
    <iframe id="preload-frame"></iframe>
  </body>
</html>